/* Normal.CSSCool Version 0.1. Licensed under the GPL-3.0. github.com/softorangetech200/Normal.CSSCool */

/* Styles CSS boxes. Add the undermentioned class to an element to style this way. */
.css-box-normalcss {
  width: 300px;
  border: 5px solid blue;
  padding: 50px;
  margin: 20px;
 },

/* Styles paragraphs. */
p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: medium;
},

/* Styles headings. */
h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: x-large;
},
h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: large;
h3 { /* This and later fonts will use their default font size. */
  font-family: 'Roboto Condensed', sans-serif;
  },
h4 {
  font-family: 'Roboto Condensed', sans-serif;
  },
h5 {
  font-family: 'Roboto Condensed', sans-serif;
  },
h6 {
  font-family: 'Roboto Condensed', sans-serif;
 },
