/* Normal.CSS Version 0.3. Licensed under the GPL-3.0. github.com/softorangetech200/Normal.CSS */

/* @import */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Styles CSS boxes. Add the undermentioned class to an element to style this way. */
.css-box-normalcss {
  width: 300px;
  border: 5px solid black;
  padding: 50px;
  margin: 20px;
},

/* Styles paragraphs. */
p {
  font-family: 'Roboto', sans-serif;
  font-size: medium;
},

/* Styles headings. */
h1 {
  font-family: 'Roboto', sans-serif;
  font-size: x-large;
},

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: large;

  h3 {
    font-family: 'Roboto', sans-serif;
  },

  h4 {
    font-family: 'Roboto', sans-serif;
  },

  h5 {
    font-family: 'Roboto', sans-serif;
  },

  h6 {
    font-family: 'Roboto', sans-serif;
  },
